.modal-container {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 2950px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: linear-gradient($text-2, $text-3);
  overflow-x: hidden;

  @include breakpoint-up(xsmall) {
    height: 2758px;
  }
  @include breakpoint-up(tablet) {
    height: 2132.34px;
  }
  @include breakpoint-up(large) {
    height: 1980.78px;
  }

  .project-modal {
    width: 85%;
    margin: 15% auto;
    padding: 0;
    padding: 1rem 0;
    position: relative;
    background-color: white;
    border-radius: 1rem;

    @include breakpoint-up(large) {
      max-width: 45rem;
    }

    .close-modal {
      width: 1rem;
      height: 1.2rem;
      display: block;
      position: absolute;
      top: 1%;
      right: 2%;
      cursor: pointer;
      background-color: transparent;
      border: none;
      background-image: url(assets/icon-close-modal.svg);
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center;
    }

    h2 {
      margin: 0 1.5rem 1.5rem 1.5rem;
      @include breakpoint-up(large) {
        margin: 2.5rem;
      }
    }
    .project-description {
      margin: 1.5rem;
      color: $text-2;
      @include breakpoint-up(large) {
        margin: 2.5rem;
        font-size: 1.1rem;
      }
    }
    .input-element {
      width: 90%;
      margin: 2rem auto;
      padding: 1rem 0;
      border: 1px solid $text-2;
      border-radius: 1rem;
      position: relative;

      &:hover {
        border: 2px solid $bg-1;
      }

      .input-wrapper {
        position: relative;
        padding: 0 1rem;
        @include breakpoint-up(large) {
          display: flex;
          flex-flow: row wrap;
          width: 70%;
          margin: 1rem 2rem;
        }

        label {
          font-size: 1.1rem;
          font-weight: 700;
          margin-left: 1rem;
          cursor: pointer;
          &:hover {
            color: $bg-1;
          }

          &::before {
            content: " ";
            display: block;
            width: 1.5rem;
            height: 1.5rem;
            background-color: white;
            border: 2px solid $text-2;
            border-radius: 50%;
            position: absolute;
            top: -2px;
            @include breakpoint-up(large) {
              top: -3px;
              left: 8px;
            }
          }
        }
        .pledge {
          margin-left: 2.3rem;
          color: $bg-1;
          font-size: 1.1rem;
          font-weight: 600;
          @include breakpoint-up(large) {
            margin: 0 0 0 2rem;
          }
        }
        input:checked + label::before {
          content: " ";
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          background-color: $bg-1;
          border: 2px solid $text-2;
          border-radius: 50%;
          position: absolute;
          top: -3px;
        }
        input:checked + label {
          color: $bg-1;
        }
      }
      .pledge-description {
        color: $text-2;
        margin: 0 1rem;
        line-height: 1.5rem;
        @include breakpoint-up(large) {
          margin: 2rem 2rem 2rem 5rem;
        }
      }
      .left-wrapper {
        display: flex;
        flex-flow: row;
        margin: 1rem;
        align-items: center;
        @include breakpoint-up(large) {
          position: absolute;
          top: 0;
          right: 0;
        }
        h4 {
          font-size: 2rem;
          margin: 0;
          padding: 0;
          @include breakpoint-up(large) {
            font-size: 1.4rem;
          }
        }
        .left {
          color: $text-2;
          margin-left: 0.5rem;
        }
      }
      .pledge-wrapper {
        height: 8.75rem;
        border-top: 1px solid $text-2;
        text-align: center;
        position: relative;
        padding-bottom: 1rem;
        @include breakpoint-up(large) {
          height: 5rem;
          display: flex;
          flex-flow: row wrap;
        }

        .pledge-label {
          margin-top: 3rem;
          font-family: $font-primary;
          color: $text-2;
          @include breakpoint-up(large) {
            margin: 3rem 12rem 2rem 2rem;
          }
        }
        .pledge-input {
          width: 4rem;
          height: 3rem;
          border-radius: 2rem;
          margin: 1rem 0.5rem;
          padding: 0 0 0 1.5rem;
          border: 1px solid $text-2;
          outline: none;
          font-family: $font-primary;
          font-size: 1.2rem;
          font-weight: 700;
          color: $text-1;
          background-image: url("assets/dollar-sign-solid.svg");
          background-repeat: no-repeat;
          background-size: 15%;
          background-position: left center;
          @include breakpoint-up(large) {
            margin-top: 2rem;
          }
        }
        button {
          width: 6.125rem;
          height: 3.125rem;
          border-radius: 2rem;
          margin: 1rem 0.5rem;
          padding: 0;
          background-color: $bg-1;
          border-style: none;
          font-family: $font-primary;
          border-radius: 2rem;
          font-size: 1rem;
          font-weight: 500;
          color: white;
          cursor: pointer;
          @include breakpoint-up(large) {
            margin-top: 2rem;
          }
          &:hover {
            background-color: $bg-2;
          }
        }
      }
    }
  }
}
